<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= link_to image_url(@user.avatar) do %><%= image_tag @user.avatar.thumb.url %><br><% end %>
</p>

<p>
  <strong>Posts:</strong>
  <% @user.posts.each do |post| %>
    <%= link_to post.title, post %>
  <% end %>
</p>

<%= link_to 'New post', new_post_path %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
