<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Image:</strong>
  <%= link_to image_url(@post.image) do %><%= image_tag @post.image.thumb.url %><br><% end %>
</p>


<p>
  <strong>User:</strong>
  <%= link_to @post.user.name, @post.user %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= link_to image_url(@post.user.avatar) do %><%= image_tag @post.user.avatar.thumb.url %><br><% end %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
